<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firmar PDF</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div>
        <h1>Agregar Firma Digital</h1>
        <button id="loadPdf">Cargar PDF</button>
        <br><br>
        <label>Sube tu firma (imagen):</label><br>
        <input type="file" id="signatureInput" accept="image/png, image/jpeg" />
        <br>
        <button id="clearSignature">Borrar Firma</button>
        <br><br>
        <button id="savePdf">Guardar PDF con Firma</button>
    </div>
        <script src="renderfirma.js"></script>
</body>
</html>
