<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firmar PDF</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <div class="fondo">
    <h1>Agregar Firma Digital</h1>
    <div>
      <button id="loadPdf">Cargar PDF</button>
    </div>
    <div class="centro">
      <label>Sube tu firma (imagen):</label>
      <div class="containerfirma">
        <input type="file" id="signatureInput" accept="image/png, image/jpeg" />
        <button id="clearSignature">Borrar Firma</button>
      </div>
    </div>
    <div>
      <button id="savePdf">Guardar PDF con Firma</button>
    </div>
  </div>
    <script src="renderfirma.js"></script>
</body>
</html>
