body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50; /* Fondo oscuro */
    color: #ecf0f1; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Eliminar márgenes para centrar mejor */
}

.container {
    text-align: center;
    background-color: #34495e; /* Fondo de contenedor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%; /* Ancho reducido del contenedor */
    max-width: 500px; /* Tamaño máximo del contenedor */
    margin: auto 0; /* Centrar verticalmente */
}

h1 {
    margin-bottom: 20px;
    font-size: 20px; /* Tamaño aumentado del texto */
}

label {
    font-size: 14px; /* Tamaño aumentado del texto */
    font-weight: bold;
    color: #ecf0f1;
    display: block; /* Asegura que los labels ocupen toda la línea */
    text-align: center; /* Centra el texto */
}

select, button {
    width: 70%; /* Ancho reducido de los botones */
    padding: 8px; /* Tamaño reducido del padding */
    margin: 8px 0; /* Tamaño reducido del margen */
    border: 2px solid #16a085;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 14px; /* Tamaño aumentado del texto */
    display: block; /* Asegura que los elementos ocupen toda la línea */
    margin-left: auto;
    margin-right: auto; /* Centra los elementos */
}

button {
    background-color: #16a085; /* Botón verde */
    border: none;
    border-radius: 5px;
    padding: 8px 16px; /* Tamaño reducido del padding */
    color: white;
    font-size: 14px; /* Tamaño aumentado del texto */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1abc9c; /* Botón verde oscuro */
}

button:active {
    background-color: #149174;
}

#lblStatus {
    margin-top: 20px;
    font-weight: bold;
    color: #ecf0f1;
    font-size: 14px; /* Tamaño aumentado del texto */
}

.button-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.select-container {
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #149174;
    border-radius: 12px;
    border: 3px solid #149174;
}
