<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Archivos</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h1>Buscar Archivos</h1>
    <div class="containerSearch">
        <input type="text" id="searchPath" placeholder="Introduce la ruta de búsqueda">
        <button id="searchButton">🔍</button>
    </div>
    <div id="containerFiles">
        <div id="files"></div>
    </div>
    
    <div class="containerSearch">
        <input type="text" id="nameForense" style="display: none;" placeholder="Introduce nombre del forense">
        <button id="generatePdfButton" style="display: none;">Generar PDF</button>
    </div>

    <script src="./rendererFind.js"></script>
</body>
</html>
