body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;
}
h1 {
  text-align: center;
}
#files {
  margin-top: 20px;
}
#searchPath{
  display: block;
  margin: 35px auto;
  height: 20px;
  width: 50%;
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
}
#containerFiles {
  height: 400px;
  overflow: auto;
}
.file {
  background: #f9f9f9;
  color: black;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  display: block;
  margin: 20px auto;
  background-color: #16a085;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}